<div class="main">
<div class="container">
<div class="row">
<div class="span8 offset2">
<div class="paper center">
<h2>新規登録</h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="block"><%= f.label :email, "Eメール" %>
  <%= f.email_field :email, :autofocus => true %></div>

  <div class="block"><%= f.label :password, "パスワード" %>
  <%= f.password_field :password %></div>

  <div class="block"><%= f.label :password_confirmation, "念のため、パスワードをもういちど" %>
  <%= f.password_field :password_confirmation %></div>

  <div class="block"><%= f.submit "送信", class: "flat-button" %></div>
<% end %>
</div>
</div>
</div>
</div>
</div>
