<!DOCTYPE html>
<html>
<head>
  <title>感想を届けあう場所、感想ギルド</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="navbar navbar-fixed-top">
	  <div class="navbar-inner">
	    <div class="container">
	  <a href="/" class="brand">感想ギルド</a>
		  <ul class="nav">
			  <li>
			  <%= link_to items_path do %>
			  ステージ
			  <% end %>
			  </li>
			  			  <li>
			  <%= link_to new_item_path do %>
			  作品登録
			  <% end %>
			  </li>
			  <% if user_signed_in? %>
			  <li>
			  <%= link_to current_user.username, current_user %>
			  </li>
			  <li>
			  <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
			  </li>
			  <% end %>
		  </ul>
	  </div>
  </div>
  </div>
    <% if notice %>
  <div class="alert-info"><%= notice %></div>
  <% end %>
  <% if alert %>
  <div class="alert"><%= alert %></div>
  <% end %>
  <div class="main">
<div class="container">
<div class="row">
<div class="span8 offset2">
<div class="paper center">
<%= yield %>
</div>
</div>
</div>
</div>
  </div>
</body>
</html>
